@import url("https://fonts.googleapis.com/css2?family=Sono:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coiny&display=swap");

:root {
  --main-technology: #3b82f6;
  --main-science: #16a34a;
  --main-finance: #ef4444;
  --main-socity: #eab308;
  --main-entertainment: #db2777;
  --main-health: #14b8a6;
  --main-history: #f97316;
  --main-news: #8b5cf6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  max-width: 1500px;
  margin: 0 auto;
}

body {
  font-family: "sono";
  padding: 48px 64px 0px;
  background-color: #292524;
  color: #fff;
}

.header {
  display: flex;
  margin: 20px;
}
.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 80px;
  height: calc(100vh - 48px - 68px - 48px);
}

section {
  overflow: scroll;
}

h1 {
  font-size: 40px;
  font-family: "sono";
  text-transform: uppercase;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 70px;
  justify-content: center;
}

.fact-form {
  background-color: #737373;
  margin-bottom: 40px;
  padding: 16px 40px;
  border-radius: 20px;
}

.fact {
  background-color: #383535;
  margin-bottom: 16px;
  padding: 16px 30px;
  line-height: 1.5;
  font-size: 30px;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  letter-spacing: -1px;
}

.tag {
  text-transform: uppercase;
  font-family: "coiny";
  font-size: 19px;

  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: 0;
  border-radius: 20px;
}

ul {
  list-style: none;
}

.btn {
  font-family: "coiny";
  color: #fff;
  text-transform: uppercase;
  border-radius: 100px;
  border: 0;
  transition: 0.3s ease;
}

.btn:hover {
  cursor: pointer;
  transform: rotate(2deg);
}

.share-button {
  background-image: linear-gradient(130deg, #3b82f6, #ef4444, #16a34a, #eab308);
  margin-left: auto;
  padding: 16px 40px;
  font-size: 25px;
}

.post-button {
  background-image: linear-gradient(130deg, #3b82f6, #ef4444, #16a34a, #eab308);
  padding: 14px 35px;
  font-size: 25px;
}

.category-button {
  width: 100%;
  padding: 5px 20px;
  font-size: 25px;
}

.category {
  display: grid;
  gap: 16px;
}

.vote-button-container {
  display: flex;
  margin-left: auto;
  gap: 20px;
  flex-shrink: 0;
}

.vote-button-container button {
  padding: 5px 15px;
  font-size: 24px;
  font-family: inherit;
  border: none;
  border-radius: 100px;
  background-color: #78716c;
  color: inherit;
  font-weight: bold;
  transition: 0.3s;
}

.vote-button-container button:hover {
  background-color: #292524;
  cursor: pointer;
}
.vote-button-container button:disabled {
  background-color: #444e44;
}
.all {
  margin-bottom: 16px;
  padding: 5px 40px;
  width: 100%;
  font-size: 25px;
}

.source:link,
.source:visited {
  color: #8d8d91;
  text-decoration: none;
  transition: 0.3s;
}

.source:hover {
  color: #3b82f6;
}

.fact-form {
  background-color: #383535;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px 32px;
}

.btn-post {
  padding: 16px 40px;
  font-size: 25px;
}

.fact-form input,
.fact-form select {
  padding: 20px;
  width: 220px;
  border: none;
  border-radius: 100px;
  background-color: #78716c;
  color: inherit;
  font-family: inherit;
  font-size: 18px;
}

.fact-form input::placeholder {
  color: #a8a29e;
}

.fact-form span {
  font-size: 24px;
  margin-right: 15px;
  font-family: "coiny";
}

.fact-form input:first-child {
  flex-grow: 1;
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}

@media (max-width: 1150px) {
  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }
  .fact-form input,
  .fact-form select {
    width: auto;
  }
}
.message {
  font-size: 50px;
  text-align: center;
  margin-top: 40px;
  font-weight: 600;
  text-transform: uppercase;
}
